<div id="bell" class="navbar-item" data-notification-count="{{ notifications|length }}">
    <i class="fa fa-bell-o" aria-hidden="true"></i>
</div>

<div class="bell-container">
    <div class="bell-header">
        Notifications
    </div>
    <div id="notification-center" class="{{ (notifications is empty) ? 'bell-empty-content' : 'bell-content' }}">
        {% if notifications is not empty %}
            {% for notification in notifications %}
                <div class="bell-notification-item pb-10 pt-10 pr-20 pl-15">
                    <i class="fa fa-check-circle bell-notification-icon" aria-hidden="true"></i>
                    <span class="bell-notification-content ml-20"><b>Admin</b> a publié un nouvel article</span>
                </div>
            {% endfor %}
        {% else %}
            <span>Aucune notification</span>
        {% endif %}
    </div>
</div>
